<style>
    body {
        color: black;
        font-style: italic;
    }
</style>


<body>
    <p align="justify">
        Estimado(a) _Correo_: <br /><br />
        En respuesta a su Denuncia _Denuncia_ de _Categoria_ N° _IdDenuncia_, del _FechaAlerta_ en la que indicó: <br /><br />
        _Descripcion_<br /><br />
        Le informamos que se ha atendido y se le comenta lo siguiente:<br /><br />
        _Comentarios_<br /><br />
        Saludos Cordiales,<br /><br /><br />

        <img src="https://furi.sag.gob.cl/IMG/SAG_logo_2011.jpg" width="150" height="100" /><br />
        <strong>Sistema Denuncias Fitosanitarias</strong><br />
        División Protección Agrícola y Forestal<br />
        Servicio Agrícola y Ganadero | Gobierno de Chile
    </p>
</body>
